<div>
    <h2 id="page-heading">
        <span jhiTranslate="eventAdminApp.myEvent.home.title">My Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-my-event" [routerLink]="['/my-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="eventAdminApp.myEvent.home.createLabel">
            Create a new My Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="myEvents?.length === 0">
        <span jhiTranslate="eventAdminApp.myEvent.home.notFound">No myEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="myEvents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="title"><span jhiTranslate="eventAdminApp.myEvent.title">Title</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="eventAdminApp.myEvent.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="fullDay"><span jhiTranslate="eventAdminApp.myEvent.fullDay">Full Day</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventStart"><span jhiTranslate="eventAdminApp.myEvent.eventStart">Event Start</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventEnd"><span jhiTranslate="eventAdminApp.myEvent.eventEnd">Event End</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="location"><span jhiTranslate="eventAdminApp.myEvent.location">Location</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="eventImage"><span jhiTranslate="eventAdminApp.myEvent.eventImage">Event Image</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let myEvent of myEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/my-event', myEvent.id, 'view']">{{ myEvent.id }}</a></td>
                    <td>{{ myEvent.title }}</td>
                    <td>{{ myEvent.description }}</td>
                    <td>{{ myEvent.fullDay }}</td>
                    <td>{{ myEvent.eventStart | date:'medium' }}</td>
                    <td>{{ myEvent.eventEnd | date:'medium' }}</td>
                    <td>{{ myEvent.location }}</td>
                    <td>
                        <a *ngIf="myEvent.eventImage" (click)="openFile(myEvent.eventImageContentType, myEvent.eventImage)">
                            <img [src]="'data:' + myEvent.eventImageContentType + ';base64,' + myEvent.eventImage" style="max-height: 30px;" alt="myEvent image"/>
                        </a>
                        <span *ngIf="myEvent.eventImage">{{ myEvent.eventImageContentType }}, {{ byteSize(myEvent.eventImage) }}</span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/my-event', myEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/my-event', myEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(myEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="myEvents?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
