<div>
    <h2 id='page-heading'>
        <span jhiTranslate='eventAdminApp.myEvent.home.title'>My Events</span>

        <button mat-raised-button id='jh-create-entity' color='primary'
                class='float-right jh-create-entity create-my-event'
                [routerLink]="['/my-event/new']">
            <fa-icon icon='plus'></fa-icon>
            <span jhiTranslate='eventAdminApp.myEvent.home.createLabel'>
            Create a new My Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class='alert alert-warning' id='no-result' *ngIf='myEvents?.length === 0'>
        <span jhiTranslate='eventAdminApp.myEvent.home.notFound'>No myEvents found</span>
    </div>

    <div class='mat-table-wrapper'>
        <mat-table class='lmat-elevation-z8' [dataSource]='dataSource'
                   matSort matSortActive='title' matSortDirection='asc' matSortDisableClear>

            <ng-container matColumnDef='title'>
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{ 'eventAdminApp.myEvent.title' | translate}}</mat-header-cell>
                <mat-cell *matCellDef='let event'>
                    <a [routerLink]="['/my-event', event.id, 'view']">
                        {{event.title}}
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef='fullDay'>
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{ 'eventAdminApp.myEvent.fullDay' | translate}}</mat-header-cell>
                <mat-cell *matCellDef='let event'>
                    <mat-checkbox color='primary' [checked]='event.fullDay'>
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef='eventStart'>
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{ 'eventAdminApp.myEvent.eventStart' | translate}}</mat-header-cell>
                <mat-cell *matCellDef='let event'>{{event.eventStart | date: 'short'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef='eventEnd'>
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{ 'eventAdminApp.myEvent.eventEnd' | translate}}</mat-header-cell>
                <mat-cell *matCellDef='let event'>{{event.eventEnd | date: 'short'}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef='location'>
                <mat-header-cell *matHeaderCellDef
                                 mat-sort-header>{{ 'eventAdminApp.myEvent.location' | translate}}</mat-header-cell>
                <mat-cell *matCellDef='let event'>{{event.location}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef='actions'>
                <mat-header-cell *matHeaderCellDef>
                    {{ 'entity.action.operations' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef='let event'>
                    <button type='submit' [routerLink]="['/my-event', event.id, 'edit']"
                            mat-icon-button color='primary' matTooltip="{{ 'entity.action.edit' | translate}}">
                        <mat-icon>create</mat-icon>
                    </button>&nbsp;
                    <button mat-icon-button color='warn' type='submit' (click)='delete(event)'
                            matTooltip="{{ 'entity.action.delete' | translate}}">
                        <mat-icon>delete</mat-icon>
                    </button>&nbsp;
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>

            <mat-row *matRowDef='let row; columns: displayedColumns'></mat-row>
        </mat-table>


    </div>

    <mat-paginator [length]='dataSource.paginatorTotal$  | async' [pageSize]='10'
                   [pageSizeOptions]='[3, 5, 10, 25]'></mat-paginator>
</div>
