<div class='row justify-content-center'>
    <div class='col-8'>
        <div *ngIf='myEvent'>
            <h2><span jhiTranslate='eventAdminApp.myEvent.detail.title'>My Event</span></h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class='row-md jh-entity-details'>
                <dt><span jhiTranslate='eventAdminApp.myEvent.title'>Title</span></dt>
                <dd>
                    <span>{{ myEvent.title }}</span>
                </dd>
                <dt><span jhiTranslate='eventAdminApp.myEvent.description'>Description</span></dt>
                <dd>
                    <span>{{ myEvent.description }}</span>
                </dd>
                <dt><span jhiTranslate='eventAdminApp.myEvent.fullDay'>Full Day</span></dt>
                <dd>
                    <mat-checkbox [checked]='myEvent.fullDay' color='primary' disabled='true'>

                    </mat-checkbox>
                    <!--                    <span>{{ myEvent.fullDay }}</span>-->
                </dd>
                <dt><span jhiTranslate='eventAdminApp.myEvent.eventStart'>Event Start</span></dt>
                <dd>
                    <span>{{ myEvent.eventStart | date: 'short'}}</span>
                </dd>
                <dt><span jhiTranslate='eventAdminApp.myEvent.eventEnd'>Event End</span></dt>
                <dd>
                    <span>{{ myEvent.eventEnd | date: 'short'}}</span>
                </dd>
                <dt><span jhiTranslate='eventAdminApp.myEvent.location'>Location</span></dt>
                <dd>
                    <span>{{ myEvent.location }}</span>
                </dd>
            </dl>

            <button mat-raised-button type='submit'
                    (click)='previousState()'>
                <fa-icon icon='arrow-left'></fa-icon>&nbsp;<span jhiTranslate='entity.action.back'>Back</span>
            </button>

            <button mat-raised-button type='button'
                    [routerLink]="['/my-event', myEvent.id, 'edit']"
                    color='primary'>
                <fa-icon icon='pencil-alt'></fa-icon>&nbsp;<span jhiTranslate='entity.action.edit'>Edit</span>
            </button>
        </div>
    </div>
</div>
