<div class='row justify-content-center'>
    <div class='col-md-6 col-sm-10'>
        <form name='editForm' role='form' novalidate (ngSubmit)='save()' [formGroup]='editForm'>
            <h2 id='jhi-my-event-heading' jhiTranslate='eventAdminApp.myEvent.home.createOrEditLabel'>Create or edit a
                My Event</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class='form-group'>
                    <mat-form-field class='mat-form-field-fluid'>
                        <mat-label>{{ 'eventAdminApp.myEvent.title' | translate }}</mat-label>
                        <input matInput type='text' name='title' id='field_title'
                               formControlName='title' />
                        <mat-error *ngIf="isControlError('title','required')">
                            <strong>{{ 'entity.validation.required' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('title','maxlength')">
                            <strong>{{ 'entity.validation.maxlength' | translate :{ max: 120 } }}</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class='form-group'>
                    <mat-form-field class='mat-form-field-fluid'>
                        <mat-label>{{ 'eventAdminApp.myEvent.description' | translate }}</mat-label>
                        <textarea matInput name='description' id='field_description'
                                  cdkTextareaAutosize cdkAutosizeMaxRows='6'
                                  formControlName='description'></textarea>
                        <mat-error *ngIf="isControlError('description','required')">
                            <strong>{{ 'entity.validation.required' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('description','maxlength')">
                            <strong>{{ 'entity.validation.maxlength' | translate :{ max: 2000 } }}</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                <div class='form-group'>
                    <mat-checkbox formControlName='fullDay' color='primary'>
                        <span jhiTranslate='eventAdminApp.myEvent.fullDay'>Full Day</span>
                    </mat-checkbox>
                </div>

                <div class='form-group'>
                    <mat-form-field class='mat-form-field-fluid'>
                        <mat-label>{{ 'eventAdminApp.myEvent.eventStart' | translate }}</mat-label>
                        <input matInput id='field_eventStart' [ngxMatDatetimePicker]='picker' name='eventStart'
                               formControlName='eventStart' placeholder='eventAdminApp.myEvent.eventStart' />
                        <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]='true' [showSeconds]='false'
                                                 [stepHour]='1' [stepMinute]='30' color='primary'
                                                 [touchUi]='false' [enableMeridian]='false'
                                                 [disableMinute]='false' [hideTime]='false'>
                        </ngx-mat-datetime-picker>

                        <mat-error *ngIf="isControlError('eventStart','required')">
                            <strong>{{ 'entity.validation.required' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('eventStart','ZonedDateTimelocal')">
                            <strong>{{ 'entity.validation.ZonedDateTimelocal' | translate }}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class='form-group'>
                    <mat-form-field class='mat-form-field-fluid'>
                        <mat-label>{{ 'eventAdminApp.myEvent.eventEnd' | translate }}</mat-label>
                        <input matInput id='field_eventEnd' [ngxMatDatetimePicker]='picker2' name='eventEnd'
                               [min]='editForm.controls.eventStart.value'
                               formControlName='eventEnd' placeholder='eventAdminApp.myEvent.eventEnd' />
                        <mat-datepicker-toggle matSuffix [for]='picker2'></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker2 [showSpinners]='true' [showSeconds]='false'
                                                 [stepHour]='1' [stepMinute]='30' color='primary'
                                                 [touchUi]='false' [enableMeridian]='false'
                                                 [disableMinute]='false' [hideTime]='false'>
                        </ngx-mat-datetime-picker>

                        <mat-error *ngIf="isControlError('eventEnd','required')">
                            <strong>{{ 'entity.validation.required' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('eventEnd','ZonedDateTimelocal')">
                            <strong>{{ 'entity.validation.ZonedDateTimelocal' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('eventEnd','matDatetimePickerMin')">
                            <strong>{{ 'global.messages.validate.endDate.before' | translate }}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class='form-group'>
                    <mat-form-field class='mat-form-field-fluid'>
                        <mat-label>{{ 'eventAdminApp.myEvent.location' | translate }}</mat-label>
                        <input matInput type='text' name='location' id='field_location'
                               formControlName='location' />
                        <mat-error *ngIf="isControlError('location','maxlength')">
                            <strong>{{ 'entity.validation.maxlength' | translate :{ max: 300 } }}</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class='form-group'>
                    <label class='form-control-label' jhiTranslate='eventAdminApp.myEvent.eventImage'
                           for='field_eventImage'>Event Image</label>
                    <div>
                        <img
                            [src]="'data:' + editForm.get('eventImageContentType')!.value + ';base64,' + editForm.get('eventImage')!.value"
                            style='max-height: 100px;' *ngIf="editForm.get('eventImage')!.value" alt='myEvent image' />
                        <div *ngIf="editForm.get('eventImage')!.value" class='form-text text-danger clearfix'>
                            <span class='pull-left'>{{ editForm.get('eventImageContentType')!.value }}
                                , {{ byteSize(editForm.get('eventImage')!.value) }}</span>
                            <button type='button'
                                    (click)="clearInputImage('eventImage', 'eventImageContentType', 'file_eventImage')"
                                    class='btn btn-secondary btn-xs pull-right'>
                                <fa-icon icon='times'></fa-icon>
                            </button>
                        </div>
                        <input type='file' id='file_eventImage' (change)="setFileData($event, 'eventImage', true)"
                               accept='image/*' jhiTranslate='entity.action.addimage' />
                    </div>
                    <input type='hidden' class='form-control' name='eventImage' id='field_eventImage'
                           formControlName='eventImage' />
                    <input type='hidden' class='form-control' name='eventImageContentType'
                           id='field_eventImageContentType'
                           formControlName='eventImageContentType' />
                </div>
            </div>

            <div>
                <button mat-raised-button type='button' id='cancel-save' (click)='previousState()' color='accent'>
                    <fa-icon icon='ban'></fa-icon>&nbsp;<span jhiTranslate='entity.action.cancel'>Cancel</span>
                </button>

                <button mat-raised-button type='submit' id='save-entity' [disabled]='editForm.invalid || isSaving'
                        color='primary'>
                    <fa-icon icon='save'></fa-icon>&nbsp;<span jhiTranslate='entity.action.save'>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
