<div>
    <div class='row justify-content-center'>
        <div class='col-md-4'>
            <h1 jhiTranslate='reset.request.title'>Reset your password</h1>

            <jhi-alert-error></jhi-alert-error>

            <div class='alert alert-warning' *ngIf='!success'>
                <span jhiTranslate='reset.request.messages.info'>Enter the email address you used to register.</span>
            </div>

            <div class='alert alert-success' *ngIf='success'>
                <span jhiTranslate='reset.request.messages.success'>Check your emails for details on how to reset your password.</span>
            </div>

            <form *ngIf='!success' name='form' role='form' (ngSubmit)='requestReset()' [formGroup]='resetRequestForm'>
                <div class='form-group'>
                    <mat-form-field class='mat-form-field-fluid'>
                        <mat-label>{{ 'global.form.email.label' | translate }}</mat-label>
                        <input matInput type='email' id='email' name='email'
                               placeholder="{{ 'global.form.email.placeholder' | translate }}"
                               formControlName='email' #email>
                        <mat-error *ngIf="isControlError('email','required')">
                            <strong>{{ 'global.messages.validate.email.required' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('email','minlength')">
                            <strong>{{ 'global.messages.validate.email.minlength' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('email','maxlength')">
                            <strong>{{ 'global.messages.validate.email.maxlength' | translate }}</strong>
                        </mat-error>
                        <mat-error *ngIf="isControlError('email','email')">
                            <strong>{{ 'global.messages.validate.email.invalid' | translate }}</strong>
                        </mat-error>
                    </mat-form-field>

                </div>

                <button mat-raised-button type='submit' [disabled]='resetRequestForm.invalid' color='primary'
                        jhiTranslate='reset.request.form.button'>Reset
                </button>
            </form>
        </div>
    </div>
</div>
